// Normalize Styles
@import node_modules/normalize.css/normalize

// Import Modules
@import ../_modules/link/link

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

body
  margin: 0;
  overflow: hidden;
  width: 1920px;
  height: 1080px;

.yeogurt-info
  text-align: center
  max-width: 500px
  margin-left: auto
  margin-right: auto
  font-family: 'Theinhardt'

.version
  font-size: 14px
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace
  position: absolute
  bottom: 10px
  right: 10px

.logo
  margin-top: 15px

// Styling on warning for users on IE7 or below
.browsehappy
  text-align: center
  margin: 0
  background: #fff8e2
  color: #000
  padding: 0.5em 0

@font-face
  font-family: 'Theinhardt';
  src: url('fonts/theinhardt/TheinhardtReg.otf');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: 'Theinhardt';
  src: url('fonts/theinhardt/TheinhardtMed.otf');
  font-weight: medium;
  font-style: normal;

@font-face
  font-family: 'Theinhardt';
  src: url('fonts/theinhardt/TheinhardtLight_alt.otf');
  font-weight: light;
  font-style: normal;

@font-face
  font-family: 'Theinhardt';
  src: url('fonts/theinhardt/TheinhardtBold.otf');
  font-weight: bold;
  font-style: normal;

html, body
  height: 100%;

.screensaver
  width: 100%;
  height: 100%;
  position: absolute;
  background: #1e1e1e;
  top: 0;
  left: 0;
  z-index: 1000;

.screensaver video
  width: 1920px;
  height: 1080px;

.container
  width: 100%;
  height: 100%;
  top: 0px
  background: #faf4a4;
  overflow: hidden;

.yeogurt-info
  margin-top: 100px;

.main-title
  transition: 0.6s all ease;
  opacity: 0;
  transform: translate(0px, 20px);
  width: 1920px;
  height: 1080px;

.main-title.reveal
  opacity: 1;
  transform: translate(0px, 0px);

.main-menu-container
  background: black;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0;
  transition: 1s ease all;

.main-menu-container.reveal
  opacity: 1;
  z-index: 10;

.main-menu-container
  .inner
    width: 88%;
    height: 100%;
    padding-top: 6%;
    display: flex; 
    justify-content: space-between;
    margin: 0 auto;

.menu-item
  width: 30%;
  height: 860px;
  color: white;
  border: 10px solid white;
  float: left;
  opacity: 0;
  transition: 1s ease all;
  transform: translate(0px, 20px);
  overflow: hidden;
  .title
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    margin-top: -14px;
.menu-item.reveal
  opacity: 1;
  transform: translate(0px, 0px);



.loader
  opacity: 0;
  transition: 0.2s ease all;
.loader.reveal
  opacity: 1;
.video
  position: absolute; 
  top: 0;
  left: -640px;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  z-index: -100;
  background-size: cover;
  overflow: hidden;
  pointer-events: none;

.player
  position: absolute;
  z-index: -1000;
  opacity: 0
  left: 0;
  top: 0;
.player.reveal
  z-index: 1000;
  opacity: 1;

.close
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 30px;
  color: white;
  z-index: 1000000;

.title-container
  left: 40px;
  top: 50px;
  position: fixed;

.title-container p
  margin-top: 0px;
  margin-bottom: 2px;
.heavy
  font-weight: bold;

