extends _layouts/base

include _modules/link/link

block content
  .screensaver
    video(src="videos/screensaver.mp4" loop muted autoplay)
  .container
    .main-title(data-title)
      .title-container
        p.heavy(data-user)
        p(data-label ="main") Cirugía
      img(src="images/placeholder/intro.png" data-intro)
    .main-menu-container(data-menu)
      .close(data-sessionclose)
        img(src="images/close.png")
      .inner
        .menu-item(data-item="0")
          h1.title(data-label ="pacient") El pacient
          .loader
            //h1 Loading...
          .video-bg
            video.video(autoplay loop)
              source(src="videos/menu/paciente.mp4")
        .menu-item(data-item="1")
          h1.title(data-label ="operation") L'operació
          .loader
            //h1 Loading...
          .video-bg
            video.video(autoplay loop)
              source(src="videos/menu/cirugia.mp4")
          //h1(data-loader = "1") Loading...
        .menu-item(data-item="2")
          h1.title(data-label ="concept")
          .loader
            //h1 Loading...
          .video-bg
            video.video(autoplay loop)
              source(src="videos/menu/lenguaje.mp4")
          //h1(data-loader = "2") Loading...
    .player(data-player = "0")
      video(data-main)
        source(src ="videos/placeholder/paciente.mp4")
      .close(data-close)
        img(src="images/close.png")
    .player(data-player = "1")
      video(data-main)
        source(src ="videos/placeholder/cirugia.mp4")
      .close(data-close)
        img(src="images/close.png")
    .player(data-player="2")
      video(data-main)
        source(src ="videos/placeholder/lenguaje.mp4")
      .close(data-close)
        img(src="images/close.png")